.index-null{
  width: 100%;
  margin: 0 auto;
  background-color: #EFF3F5;
}
.article-text-box {
  width: 1180px;
  margin: 0 auto;
}
.article-top-index {
  width: 100%;
  border-radius: 4px;
  margin-top: 70px;
}
.article-inf-par-box{
 color: #34495E;
  border-radius: 4px;
 padding: 10px 20px 10px 20px;
  background-color:#FFFFFF;
}
.article-inf-par {
  width: 100%;
}
.article-text-par >>> .v-note-wrapper{ z-index:1 }
.article-text-par{
  width: 100%;
}
.article-inf-par >>> .markdown-body{
  box-shadow: none !important;
}
.article-inf-par-box >>> .el-collapse{
  border: none;
}
.article-inf-par-box >>>.el-collapse-item__header{
  border-bottom:none;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.article-inf-par-box-ter .article-inf-sort,
.article-inf-par-box-ter .article-tex-labels
{
margin-top: 10px;
}
.article-inf-par-box-ter .article-inf-sort i,
.article-inf-par-box-ter .article-tex-labels i{
  color: #34495E;
}
.article-inf-par-box-ter span {
  cursor: pointer;
  font-family: "新宋体" !important;
  text-align: left;
  font-size: 12px;
  margin-right: 20px;
}
.article-inf-par-box-ter i{
  color: #009432;
  font-size: 12px;
}
.article-inf-par-box >>> .el-collapse-item__header{
  font-size: 28px !important;
  color: #34495E;
  cursor: pointer;
}
.article-inf-par-box-ter{
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  height:65px;
  border-radius: 4px;
  background-color: #F8F8F8;
}
.comment-box{
  width: 1180px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.comment-box-par{
  width: 1165px;
  padding: 35px 10px 35px 10px;
  margin-top: 30px;
}
.comment-text-box{
  width: 960px;
  height: 270px;
  padding: 20px 40px 20px 40px;
  border: 1px solid #ced6e0;
  margin: 0 auto;
}
.comment-der-list-box >>> .el-collapse-item__wrap {
  border-radius: 4px;
  border-bottom: none;
  padding: 10px 20px 10px 6px;
  margin-bottom: 10px;
}
.comment-text-ti-res{
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 10px;
  color: #34495E;
}
.comment-text-ti{
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 10px;
  color: #34495E;
}
.comment-oar-bottom{
  width: 300px;
  padding-right: 15px;
  /*background-color: #2BC8DA;*/
}
.comment-input-boxP >>> .el-textarea__inner{
  width: 400px;
}
.comment-list-box{
  width: 1040px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.comment-der-box{
  width: 1040px;
  height: 40px;
  font-size: 14px;
  color: #34495E;
  margin-left: 10px;
  margin-top: 30px;
}
.comment-image{
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 10px;
}
.comment-parentContent{
  margin-top: 10px;
  color:#34495E;
  padding-left: 20px;
  padding-right: 40px;
  line-height: 20px;
  font-size: 14px;
}
.comment-info .comment-info-name{
  font-size: 14px;
  font-weight: 600;
  color:#34495E;
  margin-right: 8px;
}
.comment-info-name-res{
  font-size: 14px;
  font-weight: 600;
  color:#34495E;
  margin-right: 8px;
}
.comment-info{
  padding-top: 20px;
}
.comment-info-res{
  padding-top:14px;
}
.comment-page{
  text-align: center;
}
.comment-else{
  text-align: center;
  color: #7F828B;
  font-size: 14px;
  margin-top: 20px;
}
.comment-der-list-box{
  width: 1040px;
  padding: 6px 10px 2px 10px;
  min-height: 90px;
  border-radius: 4px;
  margin-bottom: 15px;
  overflow:auto;
  max-height: 600px;
  transition: all 0.2s ease;
  background-color: #EFF3F5;
}
.comment-der-list-box:hover{
  box-shadow: 3px 3px 3px #ced6e0;
}
.comment-box-par >>> .emoji-wysiwyg-editor{
  min-height: 160px;
  margin-top: 10px;
}
.comment-box-par >>> .emoji-vue-textarea{
  width: 890px !important;
}
.comment-box-par >>> i.emoji-picker-icon.emoji-picker{
  width: 80px;
  float: right;
}
.comment-box-par >>> .emoji-picker-icon{
  position:initial;
  margin-right: 185px;
  margin-top: 6px;
}
.comment-box-par >>> .emoji-items-wrap1{
  float: left;
}
.reply-span,
.comment-der-list-box >>> .el-collapse-item__header{
  cursor: pointer;
  transition: all 0.2s ease;
  color: #1AB667;
  border-bottom:none;
  font-size: 14px;
  padding-left: 20px;
}
.comment-der-list-box >>> .el-collapse-item__header{
  background-color: #EFF3F5;
}
.SecondaryComment{
  margin-left: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
